@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(243, 243, 243);
}

a{
    text-decoration: none;
    color: unset;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 1rem;
    // border: 1px solid black;
}


.periodic-table-grid-container {
    
    display: grid;
    grid-template-columns: repeat(18,1fr);
    // grid-template-rows: repeat(9,1fr);
    // gap: 0.5rem;

    .element {

        // height: 80px;
        // aspect-ratio: 1;
        padding: 0.3rem;
        // border: 1px solid rgb(223, 223, 223);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.7rem;

        .element-number {
        }

        .element-symbol {
            font-size: 1.5rem;
            text-align: center;
        }
        
        &:nth-child(1) {
            grid-column: 2;
            grid-row: 3;
        }
    }

    .post-transition_metal {
        background: rgb(255, 151, 151);
        border: 2px solid darken($color: rgb(255, 151, 151) , $amount: 5);
    }
    
    .diatomic_nonmetal  {
        background: rgb(255, 201, 119);
        border: 2px solid darken($color: rgb(255, 201, 119) , $amount: 5);
    }
    .alkali_metal {
        background: rgb(115, 255, 115);
        border: 2px solid darken($color: rgb(115, 255, 115) , $amount: 5);
    }
    .alkaline_earth_metal  {
        background: rgb(154, 255, 170);
        border: 2px solid darken($color: rgb(154, 255, 170) , $amount: 5);
    }
    .transition_metal  {
        background: rgb(255, 209, 124);
        border: 2px solid darken($color: rgb(255, 209, 124) , $amount: 5);
    }
    .metalloid  {
        background: rgb(161, 161, 250);
        border: 2px solid darken($color: rgb(161, 161, 250) , $amount: 5);
    }
    .polyatomic_nonmetal  {
        background: rgb(159, 233, 255);
        border: 2px solid darken($color: rgb(159, 233, 255) , $amount: 5);
    }
    .noble_gas  {
        background: rgb(255, 255, 162);
        border: 2px solid darken($color: rgb(255, 255, 162) , $amount: 5);
    }
    .lanthanide  {
        background: rgb(240, 165, 255);
        border: 2px solid darken($color: rgb(240, 165, 255) , $amount: 5);
    }
    .actinide  {
        background: rgb(255, 122, 211);
        border: 2px solid darken($color: rgb(255, 122, 211), $amount: 5);
    }
}


// **********************************elementinformation******************************

.element-info{
    display: flex;
    align-items: center;

    .model {
        flex: 1;
        model-viewer {
            width: 100%;
            height: 800px;
        }   
    }

    .information {
        flex: 1;


        table {
            border-collapse: collapse;
            background: white;


            tr {
                &:nth-child(odd) {
                    th {
                        background: rgb(236, 236, 236);
                    }
                }
            }
            th,td {
                padding: 1rem 2rem;
            }
            
        }
    }

}



